<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GroceryCRUD</title>
</head>
<body>
<h1>Your Shopping List</h1>
<ol>{{#shoppingList}}
<li>{{.}}
    <form action="/updateQty" method="post">
        <input type="number" name="updateQty" placeholder="new quantity"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Update</button>
    </form>
    <form action="/delete" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Remove from List</button>
    </form>
</li>
{{/shoppingList}}
    </ol>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>