<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GroceryCRUD</title>
</head>
<body>

<h1>Bakery Goods</h1>
<ol>{{#bakeryList}}
    {{itemName}}    {{unitQuantity}}    {{unitPrice}}
        {{#loggedIn}}<form action="/quantity" method="post">
            <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit">Add</button>
        </form>{{/loggedIn}}

    {{/bakeryList}}</ol>

<h1>Deli Goods</h1>
{{#deliList}}

<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    {{#loggedIn}}<form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>{{/loggedIn}}
</ol>
{{/deliList}}

<h1>Dairy Goods</h1>
{{#dairyList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    {{#loggedIn}}<form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>{{/loggedIn}}
</ol>
{{/dairyList}}

<h1>Produce Goods</h1>
{{#produceList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    {{#loggedIn}}<form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>{{/loggedIn}}
</ol>
{{/produceList}}



<h1>Frozen Goods</h1>
{{#frozenList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    {{#loggedIn}}<form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>{{/loggedIn}}
</ol>
{{/frozenList}}
{{#loggedIn}}<form action="/shoppingList" method="get">
    <button type="submit">Create Shopping List</button>
</form>{{/loggedIn}}
{{#loggedIn}}<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>{{/loggedIn}}

</body>
</html>