<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GroceryCRUD</title>
</head>
<body>
<h1>Deli Goods</h1>
{{#deliList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    <form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>
</ol>
{{/deliList}}

<h1>Dairy Goods</h1>
{{#dairyList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    <form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>
</ol>
{{/dairyList}}

<h1>Produce Goods</h1>
{{#produceList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    <form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>
</ol>
{{/produceList}}

<h1>Bakery Goods</h1>
{{#bakeryList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    <form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>
</ol>
{{/bakeryList}}

<h1>Frozen Goods</h1>
{{#frozenList}}
<ol>{{id}} {{itemName}}    {{unitQuantity}}    {{unitPrice}}
    <form action="/quantity" method="post">
        <input type="number" name="qty" placeholder="#" value="{{qty}}"/>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit">Add</button>
    </form>
</ol>
{{/frozenList}}
<form action="/createShoppingList" method="post">
    <button type="submit">Create Shopping List</button>
</form>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>