<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GroceryCRUD</title>
    <link rel="stylesheet" href="/buymore.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: #DBF9D1">

<h1>Shop BUYMORE!</h1>
<h2>Where You Can Buy More!</h2>
<br>
<br>
<h2><a href="/viewItems">Click here to see our latest inventory!</a></h2>
<br>
<br>
<h2>Or login to start your shopping list!</h2>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"/>
    <input type="password" name="password" placeholder="Enter your password"/>
    <button type="submit">Login</button>
</form>
</body>
</html>